services:
  workload:
    image: $WORKLOAD_IMAGE
    container_name: workload
    hostname: workload
    environment:
      - RIPPLED_NAME # defaults to "rippled"
      - VALIDATOR_NAME # defaults to "val"
      - NUM_VALIDATORS # default 5
    depends_on:
      rippled:
        condition: service_healthy
    volumes:
      - ./accounts.json:/accounts.json
    networks:
      antithesis_net:
